:root {
    --primary-color: #17a2b8;
    --dark-color: #32527b;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  
  body {
    /* font-family: "Architects Daughter", cursive; */
    font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }
  
  /* Utilities */
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .container-form {
    max-width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    
  }
  
  /* Text Styles*/
  .x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .large {
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 1rem;
  }
  
  .lead {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .text-dark {
    color: var(--dark-color);
  }
  
  .center{
    margin : 0 auto;
  }

  /* Padding */
  .p {
    padding: 0.5rem;
  }
  .p-1 {
    padding: 1rem;
  }
  .p-2 {
    padding: 2rem;
  }
  .p-3 {
    padding: 3rem;
  }
  .py {
    padding: 0.5rem 0;
  }
  .py-1 {
    padding: 1rem 0;
  }
  .py-2 {
    padding: 2rem 0;
  }
  .py-3 {
    padding: 3rem 0;
  }
  
  /* Margin */
  .m {
    margin: 0.5rem;
  }
  .m-1 {
    margin: 1rem;
  }
  .m-2 {
    margin: 2rem;
  }
  .m-3 {
    margin: 3rem;
  }
  .my {
    margin: 0.5rem 0;
  }
  .my-1 {
    margin: 1rem 0;
  }
  .my-2 {
    margin: 2rem 0;
  }
  .my-3 {
    margin: 3rem 0;
  }
  
  .btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-right: 0.5rem;
    transition:0.2s ease-in;
    outline: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  }
  
  .btn-form {
    opacity: 0.9;
    background:rgba(57, 162, 219,0.8);  
    color: #333;
  }
  .badge {
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
  }


  .alert {
    position: absolute;
    padding:0.8rem 2rem;
    top : 6rem;
    left: 45%;
    z-index: 1;
    margin : 0;
    text-align: center;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
  }
  
  .btn-primary,
  .bg-primary,
  .badge-primary,
  .alert-primary {
    background: var(--primary-color);
    color: #fff;
  }
  
  .btn-light,
  .bg-light,
  .badge-light,
  .alert-light {
    background: var(--light-color);
    color: #333;
  }
  
  .btn-dark,
  .bg-dark,
  .badge-dark,
  .alert-dark {
    background: var(--dark-color);
    color: #fff;
  }
  
  .btn-danger,
  .bg-danger,
  .badge-danger,
  .alert-danger {
    background: var(--danger-color);
    color: #fff;
  }
  
  .btn-success,
  .bg-success,
  .badge-success,
  .alert-success {
    background: var(--success-color);
    color: #fff;
  }
  
  .btn-white,
  .bg-white,
  .badge-white,
  .alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
  }
  
  .btn:hover {
    background-color: #333;
    color: #fff;
  }
  
  .bg-light,
  .badge-light {
    border: #ccc solid 1px;
  }
  
  .round-img {
    border-radius: 50%;
  }
  
  .line {
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
  }
  
  /* Overlay */
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }


  .text-inner{
    margin: 0.25rem 0;
    padding : 0.5rem;
    font-size: 1.2rem;
  }
  
  /* Forms */

  .form{
    background : rgba(255,255,255,0.85);
    color : #333;
    padding : 2rem;
    min-width: 30%;
    border-radius: 15px;

  }

  .form .form-group {
    margin: 1.2rem 0;
    padding : 0.75rem;
  }
  
  .form .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"],
  .form input[type="date"],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border:1px solid #fff;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    border-radius: 20px;
    outline : none;
    transition:0.2s ease-in;
    text-align: center;
    /* font-family: "Architects Daughter", cursive; */
  }

  .form input[type="submit"],
  button {
    font: inherit;
    margin-top : 1rem;
  }

  textarea:focus,.form input[type="email"]:focus,.form input[type="password"]:focus,.form input[type="text"]:focus{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
    border-color: #03e9f4;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* font-family: "Architects Daughter", cursive; */
  color:#333 ;
  opacity: 0.9; /* Firefox */
  text-align: center;
}


  
  .table th,
  .table td {
    padding: 1rem;
    text-align: left;
  }
  
  .table th {
    background: var(--light-color);
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px #39A2DB;
    opacity:0.9;
    font-size: 1.3rem;
    background-color: #39A2DB;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar a{
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
  
  .navbar a:hover {
    color: #053742;
  }
  
  .navbar .welcome span {
    margin-right: 0.6rem;
  }

.highlight{
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

  .highlight1 {
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

  }
  
  /* Landing Page */
  .landing {
    position: relative;
    background : url("./components/img/drug4.jpeg") no-repeat center center/cover;
    height: 100vh;
  }
  
  .landing-inner {
    color: #E8F0F2;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .form-inner {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }

  
  /* Profiles Page */
  .profile {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  
  /* Profile Page */
  .profile-grid {
    display: grid;
    grid-template-areas:
      "top top"
      "about about"
      "exp edu"
      "github github";
    grid-gap: 1rem;
  }
  
  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .profile-top img {
    width: 250px;
  }
  
  .profile-top .icons a {
    color: #fff;
    margin: 0 0.3rem;
  }
  
  .profile-top .icons a:hover {
    color: var(--dark-color);
  }
  
  .profile-about {
    grid-area: about;
    text-align: center;
  }
  
  .profile-about .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .profile-exp {
    grid-area: exp;
  }
  
  .profile-edu {
    grid-area: edu;
  }
  
  .profile-exp h2,
  .profile-edu h2 {
    margin-bottom: 1rem;
  }
  
  .profile-exp > div,
  .profile-edu > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;
  }
  
  .profile-exp > div:last-child,
  .profile-edu > div:last-child {
    border: 0;
  }
  
  .profile-exp p,
  .profile-edu p {
    margin: 0.5rem 0;
  }
  
  .profile-github {
    grid-area: github;
  }
  
  .profile-github .repo {
    display: flex;
  }
  
  .profile-github .repo > div:first-child {
    flex: 7;
    flex-basis: 70%;
  }
  
  .profile-github > div:last-child {
    flex: 3;
    flex-basis: 20%;
  }
  
  /* Posts Page */
  .post-form .post-form-header {
    background: var(--primary-color);
    padding: 0.5rem;
  }
  
  .post {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
    align-items: center;
  }
  
  .post > div:first-child {
    text-align: center;
  }
  
  .post img {
    width: 100px;
  }
  
  .post .comment-count {
    background: var(--light-color);
    color: var(--primary-color);
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  
  .post .post-date {
    color: #aaa;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  
  /* Mobile Styles */
  @media (max-width: 700px) {
    .container {
      margin-top: 9rem;
    }
  
    .hide-sm {
      display: none;
    }
  
    /* Text Styles */
    .x-large {
      font-size: 4rem;
    }
  
    .large {
      font-size: 2rem;
    }
  
    .lead {
      font-size: 1rem;
    }
  
    /* Navbar */
    .navbar {
      display: block;
      text-align: center;
    }
  
    .navbar ul {
      text-align: center;
      justify-content: center;
    }
  
    .navbar h1 {
      margin-bottom: 1rem;
    }
  
    .navbar .welcome {
      display: none;
    }
  
    /* Profiles Page */
    .profile {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .profile ul {
      display: none;
    }
  
    /* Profile Page */
  
    .profile-top img,
    .profile img {
      width: 200px;
      margin: auto;
    }
  
    .profile-grid {
      grid-template-areas:
        "top"
        "about"
        "exp"
        "edu"
        "github";
    }
  
    .profile-about .skills {
      flex-direction: column;
    }
  
    .dash-buttons a {
      display :block;
      width: 100%;
      margin: 0.2rem auto;
    }
  
    .post {
      grid-template-columns: 1fr;
    }
    .post a,
    .post button {
      padding: 0.3rem 0.4rem;
    }
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }


  .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .card-6 {
    text-align: center;
    padding : 1.25rem;
    margin : 1rem;
    border-radius: 10px;
    background : rgba(255,255,255,0.85);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .card-7 {
    text-align: center;
    padding : 1rem;
    margin : 1rem;
    border-radius: 10px;
    background : rgba(255,255,255,0.85);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    min-width: 50%;
    color: #333;
  }

  label {
    width: 350px;
    box-sizing: border-box;
  }

  .card-8 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1.25rem;
    margin : 1rem;
    flex-direction: column;
    border-radius: 10px;
    background : rgba(255,255,255,0.85);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

